site_name: Final Project Documentation
site_url: https://canting9.github.io/Spatial-Audio/
theme:
  name: material
  features:
    - navigation.expand
    - navigation.top
    - content.code.copy



markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - codehilite
  - footnotes
  - attr_list
